@import "tailwindcss";

@theme {
    /* Fonts */
    --font-inter: "Inter", sans-serif;
    --font-edu-sa: "Edu SA Beginner", cursive;
    --font-mono: "Roboto Mono", monospace;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-transparent: #ffffff00;

    /* Rich Black */
    --color-richblack-5: #F1F2FF;
    --color-richblack-25: #DBDDEA;
    --color-richblack-50: #C5C7D4;
    --color-richblack-100: #AFB2BF;
    --color-richblack-200: #999DAA;
    --color-richblack-300: #838894;
    --color-richblack-400: #6E727F;
    --color-richblack-500: #585D69;
    --color-richblack-600: #424854;
    --color-richblack-700: #2C333F;
    --color-richblack-800: #161D29;
    --color-richblack-900: #000814;

    /* Rich Blue */
    --color-richblue-5: #ECF5FF;
    --color-richblue-25: #C6D6E1;
    --color-richblue-50: #A0B7C3;
    --color-richblue-100: #7A98A6;
    --color-richblue-200: #537988;
    --color-richblue-300: #2D5A6A;
    --color-richblue-400: #073B4C;
    --color-richblue-500: #063544;
    --color-richblue-600: #042E3B;
    --color-richblue-700: #032833;
    --color-richblue-800: #01212A;
    --color-richblue-900: #001B22;

    /* Blue */
    --color-blue-5: #EAF5FF;
    --color-blue-25: #B4DAEC;
    --color-blue-50: #7EC0D9;
    --color-blue-100: #47A5C5;
    --color-blue-200: #118AB2;
    --color-blue-300: #0F7A9D;
    --color-blue-400: #0C6A87;
    --color-blue-500: #0A5A72;
    --color-blue-600: #074B5D;
    --color-blue-700: #053B48;
    --color-blue-800: #022B32;
    --color-blue-900: #001B1D;

    /* Caribbean Green */
    --color-caribbeangreen-5: #C1FFFD;
    --color-caribbeangreen-25: #83F1DE;
    --color-caribbeangreen-50: #44E4BF;
    --color-caribbeangreen-100: #06D6A0;
    --color-caribbeangreen-200: #05BF8E;
    --color-caribbeangreen-300: #05A77B;
    --color-caribbeangreen-400: #049069;
    --color-caribbeangreen-500: #037957;
    --color-caribbeangreen-600: #026144;
    --color-caribbeangreen-700: #014A32;
    --color-caribbeangreen-800: #01321F;
    --color-caribbeangreen-900: #001B0D;

    /* Brown */
    --color-brown-5: #FFF4C4;
    --color-brown-25: #FFE395;
    --color-brown-50: #FFD166;
    --color-brown-100: #E7BC5B;
    --color-brown-200: #CFA64F;
    --color-brown-300: #B89144;
    --color-brown-400: #A07C39;
    --color-brown-500: #88662D;
    --color-brown-600: #705122;
    --color-brown-700: #593C17;
    --color-brown-800: #41260B;
    --color-brown-900: #291100;

    /* Pink */
    --color-pink-5: #FFF1F1;
    --color-pink-25: #FBC7D1;
    --color-pink-50: #F79CB0;
    --color-pink-100: #F37290;
    --color-pink-200: #EF476F;
    --color-pink-300: #D43D63;
    --color-pink-400: #BA3356;
    --color-pink-500: #9F294A;
    --color-pink-600: #841E3E;
    --color-pink-700: #691432;
    --color-pink-800: #4F0A25;
    --color-pink-900: #340019;

    /* Yellow */
    --color-yellow-5: #FFF970;
    --color-yellow-25: #FFE83D;
    --color-yellow-50: #FFD60A;
    --color-yellow-100: #E7C009;
    --color-yellow-200: #CFAB08;
    --color-yellow-300: #B69507;
    --color-yellow-400: #9E8006;
    --color-yellow-500: #866A04;
    --color-yellow-600: #6E5503;
    --color-yellow-700: #553F02;
    --color-yellow-800: #3D2A01;
    --color-yellow-900: #251400;

    /* Pure Greys */
    --color-pure-greys-5: #F9F9F9;
    --color-pure-greys-25: #E2E2E2;
    --color-pure-greys-50: #CCCCCC;
    --color-pure-greys-100: #B5B5B5;
    --color-pure-greys-200: #9E9E9E;
    --color-pure-greys-300: #888888;
    --color-pure-greys-400: #717171;
    --color-pure-greys-500: #5B5B5B;
    --color-pure-greys-600: #444444;
    --color-pure-greys-700: #2D2D2D;
    --color-pure-greys-800: #171717;
    --color-pure-greys-900: #141414;

    /* Max Width */
    --max-width-maxContent: 1260px;
    --max-width-maxContentTab: 650px;
}


html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}



/* Spinner */
.loader {
    position: relative;
    width: 75px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0);
    background-size: 8px 100%;
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
    animation: pillerPushUp 4s linear infinite;
}

.loader:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #de3500;
    border-radius: 50%;
    animation: ballStepUp 4s linear infinite;
}

@keyframes pillerPushUp {

    0%,
    40%,
    100% {
        background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px
    }

    50%,
    90% {
        background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px
    }
}

@keyframes ballStepUp {
    0% {
        transform: translate(0, 0)
    }

    5% {
        transform: translate(8px, -14px)
    }

    10% {
        transform: translate(15px, -10px)
    }

    17% {
        transform: translate(23px, -24px)
    }

    20% {
        transform: translate(30px, -20px)
    }

    27% {
        transform: translate(38px, -34px)
    }

    30% {
        transform: translate(45px, -30px)
    }

    37% {
        transform: translate(53px, -44px)
    }

    40% {
        transform: translate(60px, -40px)
    }

    50% {
        transform: translate(60px, 0)
    }

    57% {
        transform: translate(53px, -14px)
    }

    60% {
        transform: translate(45px, -10px)
    }

    67% {
        transform: translate(37px, -24px)
    }

    70% {
        transform: translate(30px, -20px)
    }

    77% {
        transform: translate(22px, -34px)
    }

    80% {
        transform: translate(15px, -30px)
    }

    87% {
        transform: translate(7px, -44px)
    }

    90% {
        transform: translate(0, -40px)
    }

    100% {
        transform: translate(0, 0);
    }
}

.ag-theme-custom-dark {
    --ag-background-color: #161D29;
    /* richblack-800 */
    --ag-foreground-color: #F1F2FF;
    /* richblack-5 */

    --ag-header-background-color: #2C333F;
    /* richblack-700 */
    --ag-header-foreground-color: #DBDDEA;
    /* richblack-25 */
    --ag-header-height: 48px;

    --ag-row-height: 56px;
    --ag-row-hover-color: #2C333F;
    --ag-odd-row-background-color: #161D29;
    --ag-even-row-background-color: #161D29;

    --ag-border-color: transparent;
    --ag-row-border-color: #2C333F;

    --ag-font-family: Inter, sans-serif;
    --ag-font-size: 14px;

    --ag-selected-row-background-color: rgba(255, 214, 10, 0.08);
}

/* Header */
.ag-theme-custom-dark .ag-header {
    border-bottom: 1px solid #2C333F;
}

/* Header cells */
.ag-theme-custom-dark .ag-header-cell {
    font-weight: 600;
    letter-spacing: 0.3px;
}

/* Body rows */
.ag-theme-custom-dark .ag-row {
    border-bottom: 1px solid #2C333F;
}

/* Hover */
.ag-theme-custom-dark .ag-row-hover {
    background-color: #2C333F !important;
}

/* Remove focus outline */
.ag-theme-custom-dark .ag-cell-focus,
.ag-theme-custom-dark .ag-cell:focus {
    outline: none !important;
}

/* Scrollbar */
.ag-theme-custom-dark ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.ag-theme-custom-dark ::-webkit-scrollbar-thumb {
    background: #424854;
    border-radius: 6px;
}

/* Resize Handle */
.ag-theme-custom-dark .ag-header-cell-resize::after {
    content: "";
    /* Ensure pseudo-element is rendered */
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: #999DAA;
    /* richblack-200 */
    top: 25%;
    right: 0px;
}